
// Body
$body-bg: #fff0d0;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #1f89ff;
$brand-info: #3fa9f5;
$brand-success: #3c9225;
$brand-warning: #fec260;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Share Tech", sans-serif;
$font-size-base: 15px;
$line-height-base: 1.4;
$text-color: #3c2925;

// Navbar
$navbar-default-bg: #fec260;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Navbar links
$navbar-default-link-color:                #640 !default;
$navbar-default-link-hover-color:          #000 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #760 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg: transparent !default;